[Unit]
Description=damominer
Documentation=https://github.com/lidangqi/hz/new/master
After=network.target

[Service]
Type=forking
User=root
Group=root
WorkingDirectory=/root/damominer_v2.0.0/
ExecStart=/bin/sh /root/damominer_v2.0.0/run_gpu.sh
ExecStop=/bin/sh /root/damominer_v2.0.0/stop.sh
[Install]
WantedBy=multi-user.target
